/* Basic form styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 20px;

}

nav {
    background-color: #4CAF50; /* Green background */
    padding: 15px;
    text-align: center;
}

nav button {
    background-color: #fff;
    color: #770737;
    border: 2px solid #FF5733;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
}

nav button:hover {
    background-color: #4CAF50;
    color: white;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"], input[type="reset"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #45a049;
}

/* Focus styles */
input:focus, textarea:focus, select:focus {
    border-color: #4CAF50;
    outline: none;
    background-color: #e6ffe6;
}

/* Checkbox */
input[type="checkbox"] {
    margin-right: 10px;
}