/* General Styles for Form */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effects */
input[type="submit"]:hover {
    background-color: #45a049;
}

form:hover {
    background-color: #e9e9e9;
    transition: background-color 0.3s ease;
}

/* Responsive Design for Mobile Devices */
@media (max-width: 600px) {
    form {
        width: 90%;
        padding: 10px;
    }

    video, audio {
        width: 100%;
        align-content: center;
    }
}

